body {
  background-color: aqua;
}
#moveon {
  display: none;
}
#dead {
  display: none;
}
#winner {
  display: none;
}
#moveon2 {
  display: none;
}
#attack2 {
  display: none;
}
#attack3 {
  display: none;
}
